/*
CSS for CrystalsCollector Game
*/

html, body {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    /* background-color: rgb(178, 221, 236); */
    background-image: url("../images/background.jpg");
    height: 100%;
    margin: 0;
    border-style: none;
    border: none;
}

#orange {
    background: rgb(231, 134, 54);
    color: white;
    height: 100px;
    font-weight: bold;
}

#yellow {
    background: tan;
    color: green;
    font-weight: bold;
}

#lightGreen {
    background: rgb(75, 189, 75);
    color: purple;
}

#blue {
    background: tan;
    color: green;
}

#darkGreen1 {
    background: darkcyan;
    color: white;
}

#darkGreen2 {
    background: darkcyan;
    color: white;
    height: 100px;
}